/* 구글에서 폰트 안가져옴 @import url();*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import "reset.css";

@import "variables.css";

/*components*/
@import "components/status-bar.css";
@import "components/screen-header.css";
@import "components/nav-bar.css";
@import "components/friends.css";
@import "components/user-component.css";
@import "components/chats.css";
@import "components/badge.css";
@import "components/find.css";
@import "components/more.css";

/*screens*/
@import "screens/login-form.css";
@import "screens/welcome-header.css";

body {
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  color: #2e363e;
}
.main-screen {
  padding: 0px var(--horizontal-space);
}
