.user-component:first-child {
  margin-bottom: 20px;
}
.user-component__avatar {
  width: 65px;
  height: 65px;
  border-radius: 25px;
}

.user-component__column:last-child {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  align-items: flex-end;
}
.user-component__column-time {
  margin-bottom: 13px;
}
