.screen-header__icons {
  position: relative;
}
.header__alert {
  position: absolute;
  background-color: tomato;
  display: flex;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  bottom: 23px;
  left: 73px;
}

.find-icons {
  display: flex;
  justify-content: space-between;
}

.find-icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px;
  height: 40px;
}

.find-icons__icon i {
  font-size: 28px;
}
.find-icons__icon-text {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
  text-align: center;
}

.recommended-friends {
  margin-top: 70px;
  padding: 15px 0px;
  color: var(--color-grey);
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}
.recommended-friends__title {
  font-size: 14px;
  font-weight: 500;
}
.recommended-friends span {
  font-size: 14px;
  font-weight: 500;
  display: block;
  padding: 80px 0px;
  text-align: center;
}
.open-chat__header {
  display: flex;
  justify-content: space-between;
  margin: 15px 0px;
}
.open-chat__header-title {
  color: var(--color-grey);
  font-size: 14px;
  font-weight: 500;
}
.open-chat__header-home {
  color: var(--color-grey);
  font-size: 13px;
  font-weight: 500;
}

.open-post__title {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-body);
}
.open-post__members {
  display: flex;
  align-items: center;
}
.open-post__members img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 7px;
}
.open-post__link {
  text-transform: uppercase;
  color: var(--color-grey);
  font-size: 14px;
  font-weight: 500;
  margin: 3px 0px;
}
.open-post__members-count {
  color: var(--color-grey);
  font-size: 14px;
  font-weight: 500;
}

.open-post__members .divider {
  width: 1.3px;
  height: 13px;
  margin: 4px 5px 0px 5px;
  background-color: var(--color-grey);
}
.open-post__members-status {
  color: var(--color-red);
  font-size: 14px;
  font-weight: 400;
}
.open-post__members-status i {
  padding-right: 5px;
}

.open-post {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.open-post__photo img {
  width: 95px;
  height: 95px;
  border-radius: 10px;
}
.open-post__photo-heart {
  color: white;
}
.open-post__photo-heart i {
  font-size: 9px;
  margin-right: 3px;
}

.open-post__photo {
  position: relative;
}
.open-post__photo-heart {
  display: flex;
  width: 52px;
  height: 20px;
  background-color: rgba(100, 100, 100, 0.7);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.open-post__photo-heart span {
  font-size: 13px;
  font-weight: 400;
  opacity: 0.8;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: var(--color-red);
    transform: scale(1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}

.open-post__photo-heart:hover i {
  will-change: transform;
  animation: heartBeat 1s linear infinite;
}
