#friends_display_link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 11px 0px;
  margin-bottom: 10px;
  margin-top: -15px;
}
#friends_display_link__text {
  font-size: 18px;
}
#friends_display_link i {
  color: gray;
  opacity: 0.4;
}
.friends-screen {
  margin: 0px var(--horizontal-space);
}
.friends-screen__channel-header {
  display: flex;
}
