.sub-border {
  border-style: none;
}

.more-icons {
  display: flex;
  justify-content: space-between;
}
.more-icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}
.more-icons__icon span {
  color: grey;
  font-weight: 400;
}

.more-icons__icon i {
  font-size: 30px;
  margin-bottom: 10px;
}

.sub-margin__bottom {
  margin-bottom: -10px;
}

.user-component__column-messages {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.add-border__bottom {
  padding-bottom: 45px;
  border-bottom: var(--main-border);
}
.more-suggestions {
  display: flex;
  padding-top: 20px;
  font-size: 14px;
  font-weight: 500;
  flex-direction: column;
}
.more-suggestions__header {
  margin-bottom: 22px;
}

.more-suggestions__header-icons {
  display: flex;
}

.more-suggestions__header-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}

.more-suggestions__header-icon span {
  color: grey;
  font-weight: 400;
  font-size: 14px;
}
.more-suggestions__header-icon-back {
  display: flex;
  background-color: var(--color-red);
  border-radius: 10px;
  align-items: center;
  justify-content: center;

  width: 45px;
  height: 45px;
  font-size: 26px;
  color: white;
  border: 0.1px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 5px;
}
